#title1 {
    border-top: solid 2px black;
}

#title2 {
    border-left: solid 8px #e1285a;
    padding: 5px;
}

#title3 {
    border: solid 2px #1dabc0;
    border-radius: 10px;
    padding: 5px;
    width: 345px;
}