.container {
    margin-top: 50px;
    margin-left: 50px;
}

.top_bar {
    background: red;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
}

.left_bar {
    background: blue;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 50px;
}