* {
    padding: 0;
    margin: 0%;
}

h3 {
    /* border: solid 1px blue; */
    margin: 20px 0 0 10px;
    padding-left: 10px;
    border-left: solid 5px blue;
}

p {
    /*border: solid 1px green;*/
    margin: 15px 0 0 20px;
}

ul {
    /* border: solid 1px red;*/
    margin: 10px 0 0 20px;
    padding: 5px 0 8px 0;
    width: 400px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

li {
    /* border: solid 1px blue;*/
    margin-left: 20px;
    padding-top: 5px;

}